/* ESTILO GENERAL  */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* TARJETAS */
.card {
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ================================
   BOTONES
================================ */
.btn-primary {
    background-color: #6c4c3b;
    border-color: #6c4c3b;
}

.btn-primary:hover {
    background-color: #8a6450;
    border-color: #8a6450;
}

/* ================================
   FORMULARIOS
================================ */
form input,
form textarea {
    border-radius: 6px !important;
}

/* ================================
   FOOTER
================================ */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
